@charset "utf-8";
@import "normalize";

@import "bourbon";
@import "base/base";
@import "neat";

$highlight:	#2ecc71;

$parallax-intro-url:		url('http://placehold.it/1200x700&text=use+your+image+here') 0 0 no-repeat;
$parallax-newsletter-url:	url('http://placehold.it/1200x700&text=use+your+image+here') 0 0 no-repeat;
$parallax-quote-url:		url('http://placehold.it/1200x700&text=use+your+image+here') 0 0 no-repeat;

@import "partials/partials";
