%footer.footer
  .container
    %p.copyright
      Copyright © 2016
      %a{:href => "index.html"} Ryan Freeth
      \- All Rights Reserved.
    %ul.social
      %li
        %a{:href => "#"}
          %i.fa.fa-facebook
      %li
        %a{:href => "#"}
          %i.fa.fa-twitter
      %li
        %a{:href => "#"}
          %i.fa.fa-google-plus
      %li
        %a{:href => "#"}
          %i.fa.fa-instagram
