%header#navigation.navigation.headroom{role: "banner"}
  .navigation-wrapper
    / logo - you can put yours here
    %a.logo{:href => "index.html"}
      %img{:alt => "logo", :src => "img/logo.png"}/
    / mobile menu toggle
    %a#js-mobile-menu.navigation-menu-button{:href => ""} MENU
    / navigation menu
    .nav{role: "navigation"}
      %ul#navigation-menu
        %li.nav-link.active
          %a{:href => "#section-intro"} Home
        %li.nav-link
          %a{:href => "/blog"} Blog
        %li.nav-link
          %a{:href => "/travel"} Travel
        %li.nav-link
          %a{:href => "/wedding"} Wedding
        %li.nav-link
          %a{:href => "/about"} About Me
