---
pageable: true
per_page: 10
blog: travel
---
%section#section-blog.blog
  .container
    .title
      %h2 Latest Travels
      %hr.small/
      %p We share crunchy details on a regular basis - here are our latest posts.
    #blog-teasers.owl-carousel.owl-theme
      / standard post format
      .blog-item
        %a.featured-image{:href => "single-standard.html"}
          %img{:alt => "Featured Image", :src => "http://placehold.it/800x600"}/
        .blog-teaser
          %h4.post-title
            %a{:href => "single-standard.html"} Standard Post
          .meta
            by
            %span.autor
              %a{:href => "#"} admin
            on
            %span.date
              %a{:href => "#"} 18th August 2014
          %p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.
          %a.read-more{:href => "single-standard.html"} Read More »
      / image post format
      .blog-item
        %a.featured-image{:href => "single-image.html"}
          %img{:alt => "Featured Image", :src => "http://placehold.it/800x600"}/
        .blog-teaser
          %h4.post-title
            %a{:href => "single-image.html"} Image Post
          .meta
            by
            %span.autor
              %a{:href => "#"} admin
            on
            %span.date
              %a{:href => "#"} 18th August 2014
          %p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.
          %a.read-more{:href => "single-image.html"} Read More »
      / gallery post format
      .blog-item
        #gallery-slider.flexslider
          %ul.slides
            / slider items
            %li
              %img{:alt => "Slider Image 1", :src => "http://placehold.it/800x600"}/
            %li
              %img{:alt => "Slider Image 2", :src => "http://placehold.it/800x600"}/
            %li
              %img{:alt => "Slider Image 2", :src => "http://placehold.it/800x600"}/
        /
          <a class="featured-image" href="single-gallery.html">
          <img src="http://preview.simonswiss.com/neat/img/slide2.jpg" alt="Featured Image">
          </a>
        .blog-teaser
          %h4.post-title
            %a{:href => "single-gallery.html"} Gallery Post
          .meta
            by
            %span.autor
              %a{:href => "#"} admin
            on
            %span.date
              %a{:href => "#"} 18th August 2014
          %p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.
          %a.read-more{:href => "single-gallery.html"} Read More »
      / video post format
      .blog-item
        .fitvids
          / responsive video iframe
          %iframe{:allowfullscreen => "", :height => "315", :src => "http://www.youtube.com/embed/P8wyUq5Z3Kw", :width => "560"}
        .blog-teaser
          %h4.post-title
            %a{:href => "single-video.html"} Video Post
          .meta
            by
            %span.autor
              %a{:href => "#"} admin
            on
            %span.date
              %a{:href => "#"} 18th August 2014
          %p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.
          %a.read-more{:href => "single-video.html"} Read More »
      / quote post format
      .blog-item
        .quote-format
          %a{:href => "single-quote.html"}
            %blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam et, possimus nihil officia.
        .blog-teaser
          %h4.post-title
            %a{:href => "single-quote.html"} Quote Post
          .meta
            by
            %span.autor
              %a{:href => "#"} admin
            on
            %span.date
              %a{:href => "#"} 18th August 2014
          %p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.
          %a.read-more{:href => "single-quote.html"} Read More »
      / audio post format
      .blog-item
        %iframe{:height => "200", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/13172711&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&visual=true"}
        .blog-teaser.audio
          %h4.post-title
            %a{:href => "single-audio.html"} Audio Post
          .meta
            by
            %span.autor
              %a{:href => "#"} admin
            on
            %span.date
              %a{:href => "#"} 18th August 2014
          %p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.
          %a.read-more{:href => "single-audio.html"} Read More »
    %a.button{:href => "archive.html"} View All Posts
-# %aside
-#   %h2 Recent Articles
-#   %ol
-#     - blog('travel').articles[0...10].each do |article|
-#       %li
-#         = link_to article.title, article
-#         %span= article.date.strftime('%b %e')
-#   %h2 Tags
-#   %ol
-#     - blog('travel').tags.each do |tag, articles|
-#       %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
-#   %h2 By Year
-#   %ol
-#     - blog('travel').articles.group_by {|a| a.date.year }.each do |year, articles|
-#       %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
